---
---
@import 'vendor/normalize';
@import 'vendor/skeleton';

@import 'components/footer';
@import 'components/header';
@import 'components/product-detail';
@import 'components/product-list';
@import 'components/gallery';

@import 'pages/index';
@import 'pages/product-details';

/* -----------------------------------------------------------------------------
 * Global
 * -------------------------------------------------------------------------- */

body {
  color: #393939;
}

a {
  color: #6498CE;
}

hr {
  border-color: #F2F0EC;
}

.button.button-primary {
  background-color: #6498CE !important;
  border-color: #6498CE !important;
}

.container {
  width: 85%;
}

section {
  padding: 5rem 0 !important;
}

h1 {
  margin-bottom: 10rem !important;
}

h2 {
  margin-bottom: 10rem !important;
}

hr {
  margin: 0;
}

.product-row:last-child .product {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .product-row:last-child .product:last-child {
    margin-bottom: 0;
  }
}
