---
layout: base
---

{% include header.html %}  
  
<hr>
  
<section class="products container" id="products">
  <h2>Products</h2>
    {% for product in site.products %}
      {% assign loop_index = forloop.index | modulo: 2 %}
      {% if loop_index == 1 %}
        <div class="product-row row">
      {% endif %}
          <div class="product one-half column">
            <a href="{{ product.link }}">
              <img
                src="{{ product.photos[0] }}"
                alt="{{ product.name }}"
                class="u-max-full-width product__img"
              />
            </a>
            <h3>{{ product.name }}</h3>
            <p class="product__retail-price">€ {{ product.price_retail}}</p>
            <h4 class="product__selling-price">€ {{ product.price }}</h4>
            <div class="row">
              <a href="{{ product.link }}" class="button">View details</a>
            </div>
          </div>
      {% if loop_index == 0 %}
        </div>
      {% endif %}
    {% endfor %}
</section>

<hr>

{% include nav.html %}
