<div class="header__wrapper" id="header">
  <section class="header container">
    <div class=" row">
      <h5>Brazil 🇧🇷</h5>
      <h1>Farewell sale</h1>
    </div>
    <p class="row">
      I'm moving to New York and selling all my stuff for a reasonable price.
    </p>
    <p class="row">
      If you like anything, send an e-mail to <a href="mailto:me@caiogondim.com">me@caiogondim.com</a>
      with the items you are interested in and we can schedule a visit.
    </p>
    <p>
      I'm currently living in São Paulo and travelling to São Luís on June 2nd, so can only deliver
      to those places.
    </p>
  </section>
</div>
