.product__retail-price {
  text-decoration: line-through;
  color: #747369;
  margin-bottom: 0;
}

.product__img {
  border-radius: 2px;
  width: 100%;
}

.product-photos .row:first-child {
  margin-bottom: 3%;
}

.product__gallery-row {
  margin-bottom: 2rem;
}
